<%- include("layout/header")  %> 

    <main>
      <h1>contact page</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid veniam
      architecto sed sequi sunt dicta pariatur doloremque harum aliquam. Dolores
      accusamus aut esse eius cumque quis ad aliquam sequi! Ad.
      <div class="mt-5 text-center text-blue"><%= someText %></div>
    </main>
    <%- include("layout/footer")  %> 