<%- include("layout/header")  %> 
      <main>
        <h1 class="text-primary">ejs note project</h1>
        <p class="text-blue text-center">tasks:</p>
      <div class="row">
        <div class="col-md-4">
          <ul class="list-group text-center">
            <% if(tasks){ %> 
              <% tasks?.forEach((task)=>{ %>
            <li class="list-group-item"><%= task%></li>
            <% }) }%>
          </ul>
          <!-- form to get data -->
          <form action="/" method="post" class="mt-5">
            <div class="form-group">
            <input class="form-control" type="text" placeholder="put your text" name="fname" />

            </div>
            <input type="submit" value="submit" class="btn btn-secondary btn-lg btn-block text-center mt-2"/>
          </form>
        </div>
      </div>
    </main>
    <%- include("layout/footer")  %> 